<ng-template *ngIf="isCreation; then creation; else change"></ng-template>

<ng-template #creation>
    <app-return-button></app-return-button>

    <app-landing-page-card-custom headerTitle="Première Connexion">
    <form [formGroup]="form" class="isCreation">
        <div class="input">
            <span>Mot de passe</span>
        <input type="password" pInputText placeholder="Mot de passe" formControlName="new_password1" />
        </div>
        <div class="input">
            <span>Confirmer le mot de passe</span>
        <input type="password" pInputText placeholder="Confirmation du mot de passe" formControlName="new_password2" />
        </div>
        <small *ngIf="error" class="p-error">{{errorMessage}}</small>
        <button pButton (click)="nextStep()" class="w-100" label="Créer mon compte"></button>
    </form>
    </app-landing-page-card-custom>
</ng-template>

<ng-template #change>
    <form [formGroup]="form">
        <div class="input">
            <span>Nouveau mot de passe</span>
            <input type="password" pInputText placeholder="Mot de passe" formControlName="new_password1" />
        </div>
        <div class="input">
            <span>Confirmer le nouveau mot de passe</span>
            <input type="password" pInputText placeholder="Confirmation du mot de passe" formControlName="new_password2" />
        </div>
        <small *ngIf="error" class="p-error">{{errorMessage}}</small>
    </form>
</ng-template>
