@import "menuvariables.scss";

:host::ng-deep {
  .p-slidemenu {
    width:$widthMenu;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    //On adapte le background au pourcentage donné pour la partie Icone 
    background: linear-gradient(to right,var(--linear-grey) $iconsPartSize, var(--linear-dark-mud) $iconsPartSize, var(--linear-dark-mud));
    font-size: 13px;
    border-radius: 18px !important;

    
    //Gérer la height totale du menu
    // CA JE GARDE
    height:100%;

    border: none;
    padding-bottom:0; //avoid black space at the bottom of the menu
    .p-menuitem {

      //Balise qui contient l'icone + le texte
      &-link {
        //On adapte la grille en fonction du pourcentage donné pour la partie icones
        display: grid;
        grid-template-columns: repeat(1, $iconsPartSize 100%-$iconsPartSize);
        align-items: center;
        text-decoration: none;
        margin-top:25px;
        padding:0px;
        
        //Adaptation pour les menuitems link du footermenu
        &.footermenu-content{
          margin-top:0px;
        }
        &:hover{
          cursor:pointer;
        }
        // Comportement quand hover et pas expanded
        &:not(.isExpanded):hover {
          font-weight: bold;
          // désactivation des comportements quand disabled
          &.isDisabled{
            cursor:default;
          }
        }
        &.isExpanded{
          font-weight: bold;
        }

        //Comportement quand le lien est cliqué
        >.active{
          font-weight:bold;
        }

        &-submenu{
          position:relative;
        }
      
      }

      //Bloc qui contient le texte et la flèche vers le bas quand cliqué
      &-description{
        padding-left: 5px;
        padding-right: 5px;
          display:grid;
          grid-template-columns: 1fr 0.1fr;
          align-items: center;   
      }

      &-text {
        color: var(--primary-color-text);
        // On fait disparaître le texte sans l'enlever pour garder le même height partout
        &.isTextDisabled{
          color:transparent;
        }
      }

      // Icone à droite du menu
      &-icon {
        justify-self: center;
        color: var(--primary-color-text);
        opacity: 1;
        &.isIconDisabled{
          opacity: 0.5;
        }
        // On spécifie le hover car même quand le bloc est Disabled on peut cliquer sur l'icone.
        &:hover{
          cursor: pointer;
          color: var(--primary-color-text);
        }
        
      }
      
    }
  }

  //Icon centered
  .iconAlignment{
    justify-self: center;
  }

}
//Gérer la position du footermenu
app-footermenu{ 
  bottom:5px;
  min-height:150px;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius:16px;
}

//Ici possiblement charger un scroll pour gérer les différentes tailles d'écran
.menu-content{
  .menu-items:last-child{
    margin-bottom: 25px;
  }
}
.menu{
  background-color: var(--linear-dark-blue);
}

