<!--<app-caption-tab [datatable]="dt" *ngIf="!noCaptionTab"></app-caption-tab>-->
<!--  [columns]="cols"-->
<p-table
  #dt
  [value]="data"
  [selectionMode]="selectionMode"
  [(selection)]="selection"
  responsiveLayout="scroll"
  scrollDirection="both"
  (onRowSelect)="onRowSelect.emit($event)"
  (onRowUnselect)="onRowUnselect.emit($event)"
  scrollHeight="flex"
  [autoLayout]="true"
  [columns]="columns.toArray()"
>

  <ng-template pTemplate="caption">
    <!--    <div>-->
    <!--      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"></button>-->
    <div *ngIf="searchBarEnable">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            #searchInput
            pInputText
            type="text"
            placeholder="Rechercher..."
            (input)="dt.filterGlobal(searchInput.value, 'contains')"
          />
      </span>
    </div>

    <div *ngIf="actions.length > 0">
      <p-overlayPanel #actionsPanel [style]="{padding:'0', width:'100px','background-color': '#ffff', 'color':'var(--linear-grey)', 'margin-top':0, 'border-top-left-radius':0, 'border-top-right-radius':0}">
        <p *ngFor="let action of actions" (click)="action.click.emit(this.selection)">{{action.label}}</p>
      </p-overlayPanel>
      <button
        type="button"
        pButton
        label="Actions"
        (click)="actionsPanel.toggle($event)"
        [disabled]="actionDisabled()"
        style="height: 100%;"
      ></button>
    </div>
    <!--    </div>-->
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="selectionMode !== 'none'" style="width: 3rem">
        <p-tableHeaderCheckbox *ngIf="selectionMode === 'multiple'"></p-tableHeaderCheckbox>
      </th>

      <!--      [style]="col.width"-->
      <th *ngFor="let col of columns" [pSortableColumn]="col.field"
          [pSortableColumnDisabled]="!col.sortable">
        {{col.header}}
        <p-sortIcon *ngIf="col.sortable" field={{col.field}}></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <ng-container [ngSwitch]="selectionMode">
        <td *ngSwitchCase="'single'">
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td *ngSwitchCase="'multiple'">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
      </ng-container>

      <td *ngFor="let col of columns" [class.col-fit-content]="col.width === 'fit'"
          [style.width]="['fit', 'auto'].includes(col.width) ? null : col.width">
        <ng-container *ngIf="col.template != null; then customField else defaultField"></ng-container>
        <ng-template #customField>
          <ng-container *ngTemplateOutlet="col.template; context:{$implicit: rowData, field: col.field, col: col}"></ng-container>
        </ng-template>
        <ng-template #defaultField>
          <span *ngIf="col.prefix">{{col.prefix}}</span>
          <span>{{format(getValue(rowData, col.field), col.format)}}</span>
          <span *ngIf="col.suffix">{{col.suffix}}</span>
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [colSpan]="columns.length">Aucune donnée.</td>
    </tr>
  </ng-template>
</p-table>
