<div class="header">
  <app-breadcrumb></app-breadcrumb>
  <!--
  <span class="header-searchbar">
      <input type="text" pInputText placeholder="Barre de recherche">
  </span>
  -->
  <div class="header-actionbuttons">
    <!--
    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-text"></button>
    -->
    <button routerLink="parametres" pButton pRipple type="button" icon="pi pi-cog"
            class="p-button-rounded p-button-text"></button>

    <button class="icon-button p-button-rounded p-button-text" pButton icon="pi pi-bell" type="button" pRipple (click)="toggleNotifications()">
      <p-badge *ngIf="notificationsCount > 0" class="badge" [value]="notificationsCount.toString()" severity="danger"></p-badge>
    </button>

    <button class="icon-button p-button-rounded p-button-text" pButton icon="pi pi-envelope" type="button" pRipple>
<!--      <p-badge class="badge" value="99+" severity="danger"></p-badge>-->
    </button>
  </div>

    <app-notification-list *ngIf="notificationsVisible" class="header-notifications" #notification_list></app-notification-list>
</div>
