.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;

  padding: 10px;

  justify-content: space-between;

  &-searchbar {
    width: 15%;
  }

  &-actionbuttons {
    display: flex;
    flex-wrap: nowrap;

    > .p-button {
      color: var(--linear-grey);
    }
  }
}

.icon-button {
  position: relative;
  overflow: visible;

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -25%);
  }
}

.header-notifications {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  z-index: 30;
}
