.notifications-list-container {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 1rem;
  width: 350px;
  border: 1px solid var(--text-color);
}

.notifications-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.notifications-list {
  list-style: none;
  padding: 0;
}

.notifications-item-container {
  color: #FFFFFF;

  &:not(:last-child) {
  padding-bottom: 1rem;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 1rem;
  }
}

.notifications-item {
  border: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: left;

  &.not-read {
    color: var(--primary-color);
  }
}

.notifications-list-navigation-container {
  display: flex;
  justify-content: space-between;
}

.notification-title {
  font-weight: 700;
}

.notification-description {
  margin-top: 0.5rem;
}

.title {
  font-weight: 700;
}

.title-icon {
  margin-right: 5px;
}
