<div class="notifications-list-container">
  <div class="notifications-list-header">
    <span class="title"><li class="title-icon pi pi-bell"></li> Notifications</span>
  </div>
  <app-container id="notifications">
    <ul class="notifications-list">
      <li *ngFor="let notification of this.notifications" class="notifications-item-container">
        <button class="notifications-item" [class.not-read]="notification.alerte.date_vue == null" (click)="clickNotification(notification)">
          <span class="notification-title">{{ notification.alerte.alerte_auto.titre }}</span>
          <span class="notification-description">{{ notification.alerte.alerte_auto.description }}</span>
          <span *ngIf="notification.alerte.description != null" class="notification-description">{{ notification.alerte.description }}</span>
        </button>
      </li>
    </ul>
    <div class="notifications-list-navigation-container">
      <button class="p-button-rounded" [disabled]="!leftArrowVisible" (click)="refresh(page - 1)" pButton icon="pi pi-arrow-left"></button>
      <button class="p-button-rounded" [disabled]="!rightArrowVisible" (click)="refresh(page + 1)" pButton icon="pi pi-arrow-right"></button>
    </div>
  </app-container>
</div>
