.footermenu{
    //Ajouter du style précis sur les textes du footer
    &-text{
        position:relative;
        padding-top:15px;
        padding-bottom:15px;
        color:white;
    }
    &-icon{
        color:white;

    }

    // Ajouter la couleur précise pour l'onglet footer Assistance et les borders à la fin
    &-content{
        background-color: var(--linear-light-mud) ;
        &:last-child{
                background-color:white;

            .footermenu-text{
                color:var(--linear-light-mud);
            }
            .footermenu-icon{
                color: var(--linear-light-mud);
            }
        }
    }

}
.fond-bleu{
    background: var(--linear-grey) !important;
}

.fond-blanc{
    border-radius:0 0 16px 16px;
}