.headercard{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    &-title{
        margin-bottom:10px;
        >h1{
            padding-bottom:5px;
            border-bottom: 1px solid var(--linear-dark-snow);
            margin:0;
            font-size:16px;
        }
    }
    &-description{
        width:100%;
        background-color:var(--background-color);
        padding:10px 15px;
        border-radius: 9px;
        >p{
            margin:0;
        }
    }
}