<app-return-button *ngIf="isAuthPage"></app-return-button>

<app-landing-page-card-custom headerTitle="Récapitulatif" *ngIf="isAuthPage || isProfilsPage, else compteRecap">
    
    <app-card-recap *ngIf="certification" [isAuthPage]="isAuthPage" [isProfilsPage]="isProfilsPage" [isComptePage]="isComptePage" [certification]="certification"></app-card-recap>

</app-landing-page-card-custom>

<ng-template #compteRecap>
    <app-headercard headerTitle="Récapitulatif de la certification"></app-headercard>
    <app-card-recap *ngIf="certification" [isAuthPage]="isAuthPage" [isProfilsPage]="isProfilsPage" [isComptePage]="isComptePage" [certification]="certification"></app-card-recap>
</ng-template>

<p-dialog [(visible)]="error" header="Erreur" [style]="{width: '300px'}" [closable]="false" [modal]="true">
    Il y a eu une erreur lors du chargement de la certification.
    <ng-template pTemplate="footer">
        <button pButton routerLink="/compte/profils" label="Retour à la page Profils" *ngIf="isProfilsPage"></button>
        <button pButton routerLink="/compte" label="Retour au Dashboard" *ngIf="isComptePage"></button>
        <button pButton routerLink="../../addCertif" label="Retour" *ngIf="isAuthPage"></button>


    </ng-template>
</p-dialog>
