::ng-deep{
    p-tabMenu{
        .p-highlight{
            > .p-menuitem-link{
                background: $color-3 !important;
                border: none !important;
                border-radius: 10px !important;
                color: white !important;
            }
        }
        .p-menuitem-link{
            padding: 0.6rem 1.2rem !important;
  
        }
        .p-tabmenu-nav{
            border: none !important;
        }
    }

    .p-button{
        &-outlined{
            color: var($color-3);
            border-color:var($color-3);
            &:hover{
                color: var($color-1);
                border-color:var($color-1);
            }
        }
        width:100%;
    }
    
  } 

  
:host ::ng-deep .input-number-custom{
    width:100%;
    >span.p-inputnumber, >input.p-inputmask{
        width:100%;
    }
  
  }
  

.subcard-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    p-table{
        flex-grow:1 !important;
        width:100% !important;
        height:100% !important;
        //overflow: scroll !important;
    }
    &-footer-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.to-right{
            justify-content: end;
        }
        > * {
            flex-grow: 0 !important;
            width: auto !important;
            margin-left: 10px;
        }
    }
    ::ng-deep{
        .p-dialog{

            &-content{
                padding:0;
                border-bottom-left-radius: 9px;
                border-bottom-right-radius: 9px;
            }
            &-subdivs{
                display: flex;
                flex-direction: row;
            }
            &-subdiv{
                width:100%;
            }
        }
    }
}